<div class="container-fluid mt-4">
    <h3>Projects Component</h3>
    <hr />
    <div>
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Crime Data</h5>
                    <p class="card-text">Crime data is great for safe neighbourhoods.</p>
                    <a href="#" class="btn btn-primary">Explore</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Joke</h5>
                    <p class="card-text">This api allows you to submit, retrieve and vote for jokes</p>
                    <a href="#" class="btn btn-primary" [routerLink]="['/joke']">Explore</a>
                </div>
            </div>
        </div>
    </div>
</div>