.randomJoke {
    .fa-thumbs-up {
        color       : #26da26;
        margin-right: 5px;
        font-size   : 20px;
    }

    .fa-thumbs-down {
        color       : red;
        margin-right: 5px;
        font-size   : 20px;
    }
}

.up-down-vote {
}

.text-center {
    text-align: center;
}